@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
/* 
* {
    box-sizing: border-box;
} */

body {
    background-color: rgb(30, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

.heart {
    position: fixed;
    top: -1vh;
    font-size: 2rem;
    transform: translateY(0);
    animation: fall 3s linear forwards;
}

#avatar{
    border-radius: 50%;
}

@keyframes fall {
    to {
        transform: translateY(105vh);
        /* transform: translateY(5vh); */
    }
}

/******* Chat box *******/
#nombre{
    margin-top: 0px;
    margin-bottom: 0px;

}
#mensaje{
    margin-top: 10px;

}
.message {
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    margin: 1rem;
    background: rgba(255, 255, 255, 0.563);
    border-radius: 1.125rem 1.125rem 1.125rem 0;
    min-height: 1.25rem;
    width: fit-content;
    max-width: 80%;
    
    box-shadow: 
        0 0 2rem rgba(black, 0.075),
        0rem 1rem 1rem -1rem rgba(black, 0.1);
}
 .parker {
        margin: 1rem 1rem 1rem auto ;
        border-radius: 1.125rem 1.125rem 1.125rem 0;
        color: rgb(0, 0, 0);
    }

/*TOAST NOTIFICATION*/

/**/
/**/


button {
    background-color: lightcoral;
    color: white;
    font-family: inherit;
    padding: 1rem;
    border-radius: 5px;
    border: none;
}

#container {
    overflow: visible;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.toast {
    /* background: rgb(186,39,32); */
    /* background: linear-gradient(120deg, rgba(186,39,32,1) 0%, rgba(186,39,32,0.2511379551820728) 100%); */
    background: rgb(0,0,0);
    background: linear-gradient(120deg, rgba(0,0,0,1) 0%, rgba(186,32,32,0.3337710084033614) 100%);
    max-width: 450px;
    width: 450px;
    border-radius: 8px;
    color: #fff;
    padding: 1rem;
    margin: 0.5rem;
    
    /**/

}

#motivo{
    /* padding: 2px; */
    margin-bottom: 6px;
}

#nombreMotivo{
    /* padding: 2px; */
    margin-top: 1px;
    margin-bottom: 1px;
}

